html,
body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ebebeb;
}

.page-container {
  background-color: #d0d9d0;
}

.header .right {
  background-color: #ffffff;
}

.profile-container {
  padding: 0px 20px;
  position: relative;
  top: -80px;
}

.profile-container .title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.spacer-container {
  display: flex;
  width: 100%;
  height: 100px;
}

.spacer {
  height: 100px;
  width: 50%;
}

.spacer.two {
  border-bottom: 1px solid #ffffff;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
}

.title {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
}

.description {
  color: #333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

nav {
  gap: 60px;
  width: 100%;
  height: 100px;
  padding-right: 40px;
  border-bottom: 1px solid #000000;
}

nav a {
  color: #767171;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.right figure {
  width: 80%;
  margin: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.white-block {
  background-color: #ffffff;
  height: 100px;
}

.about-text-container {
  text-align: center;
  background-color: #d4ecd2;

  .d-flex {
    gap: 20px;
  }
}

.case-container {
  background-color: #d4ecd2;
  padding-bottom: 50px;
}

.carousel-item {
  .d-flex {
    gap: 20px;
  }
  .image-container {
    border: 5px;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
    overflow: hidden;

    .round-image {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}

.caption {
  text-align: center;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: #ffffff;
  width: 50%;
}

.carousel-indicators {
  margin-bottom: -22px;

  button {
    background-color: gray;
  }
}

.contact-container {
  background-color: #fff;

  .green-block {
    background-color: #d0d9d0;
  }

  .form-container {
    background-color: #fff;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
